rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function getUserRole() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role;
    }

    function isStaff() {
      return isSignedIn() && (getUserRole() == 'Admin' || getUserRole() == 'Teacher');
    }

    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    match /learningPaths/{pathId} {
      allow read: if true;
      allow write: if isStaff();
    }

    match /meetings/{meetingId} {
      allow read, write: if isSignedIn();
    }
  }
}